{{!-- loader --}}
<div x-data="{visible: false}">
  <div x-on:toggle-loading.document="visible = !visible;" x-bind:class="{'hidden': !visible}" id="loader"
    class="items-center justify-center flex w-full h-full z-50 absolute bg-blue-900 opacity-50">
    <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
    <svg width="200" height="200" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
      <g fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="2">
        <circle cx="22" cy="22" r="6" stroke-opacity="0">
          <animate attributeName="r" begin="1.5s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite" />
          <animate attributeName="stroke-opacity" begin="1.5s" dur="3s" values="1;0" calcMode="linear"
            repeatCount="indefinite" />
          <animate attributeName="stroke-width" begin="1.5s" dur="3s" values="2;0" calcMode="linear"
            repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="6" stroke-opacity="0">
          <animate attributeName="r" begin="3s" dur="3s" values="6;22" calcMode="linear" repeatCount="indefinite" />
          <animate attributeName="stroke-opacity" begin="3s" dur="3s" values="1;0" calcMode="linear"
            repeatCount="indefinite" />
          <animate attributeName="stroke-width" begin="3s" dur="3s" values="2;0" calcMode="linear"
            repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="8">
          <animate attributeName="r" begin="0s" dur="1.5s" values="6;1;2;3;4;5;6" calcMode="linear"
            repeatCount="indefinite" />
        </circle>
      </g>
    </svg>
  </div>
</div>

{{!-- toast --}}
<div x-data="{ visible: false, text: '', icon: 'error', ...toast() }" class="flex justify-center">
  <div x-show.transition.duration.400ms.origin.bottom="visible" x-on:show-toast.document="showToast($event)"
    class="w-full z-50 absolute bottom-0 left-0 right-0 flex justify-center">
    <div class="rounded w-3/4 h-32 items-center justify-evenly flex  bg-white text-lg text-black">
      <p class="block" x-text="text"></p>
      <svg x-show="icon === 'error'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>

    </div>
  </div>
</div>

<script>
  function toast() {
    return {
      showToast($event) {
        const { text, state } = $event.detail;
        this.icon = state;
        this.text = text;
        this.visible = true;

        setTimeout(() => {
          this.visible = false;
        }, 3000)

      }
    }
  }
</script>