{{!-- nav --}}
<div class="flex justify-between items-center">
  <a x-on:click="$dispatch('toggle-loading');"
    class="text-2xl text-green-500 underline cursor-pointer h-full w-20 flex justify-center items-center" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
    </svg>
  </a>
  <a class="text-2xl text-green-500 underline cursor-pointer h-full w-20 flex justify-center items-center" href="/list">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
    </svg>
  </a>
  <a class="text-2xl text-green-500 underline cursor-pointer h-full w-20 flex justify-center items-center"
    href="/family">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
    </svg>
  </a>
  {{#with user }}
  <div class="flex flex-col items-center">
    <img class="rounded-full w-16 border-green-500 border-solid border-4" src="{{picture}}" alt="profile picture">
  </div>
  {{else }}
  <a class="text-2xl text-green-500 underline cursor-pointer" href="/connect/google">Login</a>
  {{/with }}
</div>